html, body, main {
    height: 100%;
    margin: 0;
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
    color:#031727;
    font-size:0.9em;
}

@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}

[v-cloak] {
  display: none;
}

#main{
    padding-bottom:35px;
}

.label-condition {
    font-size:1.1em;
    margin-right: 10px;
}

.input-text {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;

}


/** 親コンテナ */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
    padding:0.2em;
    
}


/** 検索結果ヘッダー */
.result-header{
    text-align: center;
    padding: 0.1em;
    background-color:rgb(87, 209, 183);
    border-style: solid;
    border-width: 0.05em;
    border-color: #031727;
    color:#ffffff;
}

/** 検索結果明細 */
.result-item {
    padding: 0.1em;
    border-style: solid;
    border-width: 0.05em;
    border-color: #031727;

    border-top: none;
}

.container:nth-child(2n) .result-item{
    background-color:rgb(218, 250, 240);
}


/** 製品名列 */
.col-name {
    width:230px;
    border-right: none;
}

/** 製造元列 */
.col-maker {
    width:200px;
    border-right: none;
    border-left: none;
}

/** 成分列 */
.col-component {
    width:200px;
    border-left: none;
}


footer{
    color:rgb(216, 253, 241);
    position:fixed;
    width:100%;
    height:35px;
    bottom:0;
    text-align:left;
    overflow:hidden;
    background-color:#031727;
    padding-left: 5px;
}

.text-about{
    color:rgb(218, 250, 240);
    font-size:1.3em;
    line-height: 35px;
}