<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>セルフメディケーション税制対象品目検索ツール</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="セルフメディケーション対象商品を検索するWebアプリ">
  <meta name="author" content="DE-TEIU">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/yui/3.18.0/cssreset/cssreset-min.css">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/modal.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>セルフメディケーション税制対象品目検索ツール</h1>
  </header>
  <div id="main" v-cloak>
    <div class="container search">
      <span class="label-condition">販売名</span>
      <input type="text" class="input-text" v-model="searchText" v-on:input="search" v-on:keyup="search" v-on:keydown="search"
        v-on:change="search">
    </div>
    <div class="container">
      <div class="result-header col-name">販売名</div>
      <div class="result-header col-maker">製造販売業者名</div>
      <div class="result-header col-component">成分名</div>
    </div>
    <div class="container" v-for="item in searchResult">
      <div class="result-item col-name">
        <a v-bind:href="link + item.nm">{{ item.nm }}</a>
      </div>
      <div class="result-item col-maker">{{ item.mf }}</div>
      <div class="result-item col-component">{{ item.cp }}</div>
    </div>
  </div>

  <footer>
    <div id="about-app">
      <span class="footer-link about" @click="showModal = true">About</span>
      <modal v-if="showModal" @close="showModal = false">
      </modal>
    </div>
    <div class="author">
      By DE-TEIU
      <a class="footer-link" href="https://twitter.com/de_teiu_tkg" target="_blank" rel="noopener noreferrer">(twitter)</a>
      <a class="footer-link" href="https://github.com/de-teiu/self-medication" target="_blank" rel="noopener noreferrer">(Github)</a>
    </div>
  </footer>

  <!-- Aboutダイアログ -->
  <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-body">
                <slot name="body">
                  <div>
                    <h3>About</h3>
                    <a href="http://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000124853.html" target="_blank" rel="noopener noreferrer">セルフメディケーション税制(厚生労働省)</a>の
                    対象製品を検索するツールです。販売名に入力したキーワードを部分一致で検索します。
                  </div>
                  <div>
                    <h3>使用データ</h3>
                    セルフメディケーション税制（医療費控除の特例）について
                    対象品目一覧Excel(<b>2017/12/28</b>時点)
                    <br>
                    (jsonデータに加工して使用しています)
                  </div>
                  
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close')">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/modal.js"></script>
</body>

</html>